.conteiner_home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .grid_card{
    width: 100%;
    display: flex;
     flex-wrap: wrap;
     padding: 20px;
  }
  .container_section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content_home{
    width: 100%;
    height:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .panelControl{
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .btn{
    width: 150px;
  }
  
